<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target name="f" xsi:type="File" fileName="C:\_Projects\_Logs\${shortdate}.portal.log" layout="${longdate} # ${processid} # ${level:upperCase=true} # ${callsite} # ${message}"/>
    </target>
    <target name="errors" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target name="f" xsi:type="File" fileName="C:\_Projects\_Logs\${shortdate}.portal.errors.log" layout="${longdate} # ${processid} # ${level:upperCase=true} # ${callsite} # ${message}"/>
    </target>
  </targets>
  <rules>
    <logger name="*" writeTo="file"/>
    <logger name="*" levels="error,fatal" writeTo="errors"/>
  </rules>
</nlog>
